header{
    display: block;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
h3{
    margin: 5px 0;
}

h2{
    display: block;
    text-align: center;
}

button:active ~ .content {
   padding-top: 70px;
}
.container{
    margin-top: 10px;
    width: 100%;
}

.divstyle{
    background-color: lightgrey;
    text-align: center;
    border: 1px solid black;
    padding: 10px 0;
    margin-bottom: 20px;
}
p{
    border: none;
    text-align: left;
    margin: 10px;
}

.navbar-fixed-top{
    z-index: 10;
}

@media(min-width: 768px){
    .my-invisible{
       visibility: hidden; 
    }
}